body {
    background-color: darkblue; }

input {
    color: black; }

#datetime {
    background-color: red;
    color: white;
    border: 5px solid black; }

#range {

    width: 200px; }

#range::-webkit-slider-runnable-track {
    
    background-color: hotpink; }

#range::-webkit-slider-thumb {
    
    height: 30px;
    width: 30px; 
    background-color: blueviolet;}